# 数据库HW C8 事务
> 喻勃洋 2000011483 21级信科

## 1. 演示隔离性级别与不一致现象的关系

首先看两个事务的任务，T1主要是写，写中包含读，T2全部是读。
那么无论如何并行，都不会影响T1的结果，只会影响T2的结果。
因此与T1的隔离性级别无关，只与T2的隔离性级别有关。
总是会有：T1第一次写入（记录为T11）后加入一个(C,40)，第二次写入（T12） 后（A,20）变为（A,30）。
T2的结果则取决于隔离性级别。
### T1为Serializable
则总是等价于串行，只取决于谁先。
- T1 first: 
  - sal1=100, sal2=100
- T2 first:
  - sal1=50, sal2=50
### T1为Repeatable read，则主要看T2的隔离性级别
#### T2为read uncommitted
无所谓谁先Begin：
T11, T12, T21, T22分别代表T1的两次写入和T2的两次读取。
- Sequence 1: T11, T12, T21, T22
  - sal1=100, sal2=100
- Sequence 2: T11, T21, T12, T22
  - sal1=90, sal2=100
- Sequence 3: T11, T21, T22, T12
  - sal1=90, sal2=90
- Sequence 4: T21, T11, T12, T22
  - sal1=50, sal2=100
- Sequence 5: T21, T11, T22, T12
  - sal1=50, sal2=90
- Sequence 6: T21, T22, T11, T12
  - sal1=50, sal2=50
#### T2为read committed
- T1先Begin：
  - 此时不能读取未提交的数据，因此T2的两次读取都是T1的完全写入后。
  - sal1=100, sal2=100
- T2先Begin：
  - T21，T22都在T1begin前
    - sal1=50, sal2=50
  - T21在T1begin前，T22在T1commit后。
    - sal1=50, sal2=100
  - T21，T22都在T1commit后
    - sal1=100, sal2=100
#### T2为repeatable read
此时会阻塞T1的写入，使得T2两次读的结果一致。
- T21，T22都在T1begin前
  - sal1=50, sal2=50
- T21，T22都在T1commit后
  - sal1=100, sal2=100
#### T2为Serializable
同最上，总是等价于串行，只取决于谁先。
- T1 first: 
  - sal1=100, sal2=100
- T2 first:
  - sal1=50, sal2=50

## 2. 分布式事务

In [1]:
%load_ext sql

In [2]:
import pymysql
pymysql.install_as_MySQLdb()
%sql mysql://root:yu85993101@localhost:3306
%sql create database if not exists db1;
%sql create database if not exists db2;

 * mysql://root:***@localhost:3306
1 rows affected.
 * mysql://root:***@localhost:3306
1 rows affected.

[]

In [3]:
%%sql
use db1;
drop table if exists acct_from;
create table if not exists acct_from (id int, money int);
insert into acct_from values(1, 1000);
use db2;
drop table if exists acct_to;
create table if not exists acct_to (id int, money int);
insert into acct_to values(1, 1000);

 * mysql://root:***@localhost:3306
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.

[]

In [5]:
db1 = pymysql.connect(
    host='localhost',    
    user='root',         
    password='yu85993101',       
    database='db1',      
    port=3306            
)

db2 = pymysql.connect(
    host='localhost',    
    user='root',         
    password='yu85993101',        
    database='db2',      
    port=3306            
)

cursor1 = db1.cursor()
cursor2 = db2.cursor()

try:
    # 事务分支1 SQL语句
    cursor1.execute("XA START 'XA01'")
    result1 = cursor1.execute("UPDATE acct_from SET money = money - 50 WHERE id = 1")
    cursor1.execute("XA END 'XA01'")

    # 事务分支2 SQL语句
    cursor2.execute("XA START 'XA02'")
    result2 = cursor2.execute("UPDATE acct_to SET money = money + 50 WHERE id = 1")
    cursor2.execute("XA END 'XA02'")

    # 两阶段提交协议第一阶段
    ret1 = cursor1.execute("XA PREPARE 'XA01'")
    ret2 = cursor2.execute("XA PREPARE 'XA02'")

    # 两阶段提交协议第二阶段
    if ret1 == 0 and ret2 == 0:
        cursor1.execute("XA COMMIT 'XA01'")
        cursor2.execute("XA COMMIT 'XA02'")
        print("XA Commit!")
    else:
        cursor1.execute("XA ROLLBACK 'XA01'")
        cursor2.execute("XA ROLLBACK 'XA02'")
        print("XA Rollback!")
except Exception as e:
    print(f"An error occurred: {e}")
    cursor1.execute("XA ROLLBACK 'XA01'")
    cursor2.execute("XA ROLLBACK 'XA02'")
finally:
    # 关闭连接
    cursor1.close()
    cursor2.close()
    db1.close()
    db2.close()

XA Commit!

检验一下

In [7]:
%%sql
use db1;
select * from acct_from;

 * mysql://root:***@localhost:3306
0 rows affected.
1 rows affected.

[(1, 950)]

In [8]:
%%sql
use db2;
select * from acct_to;

 * mysql://root:***@localhost:3306
0 rows affected.
1 rows affected.

[(1, 1050)]

## 3. Deadlock

仍然基于刚才的转账的例子

In [10]:
%%sql
show databases;

 * mysql://root:***@localhost:3306
6 rows affected.

[('db1',),
 ('db2',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

我这个MySQL版本的locks在performance_schema库中。

In [16]:
%%sql
use performance_schema;
select * from data_locks;

 * mysql://root:***@localhost:3306
0 rows affected.
7 rows affected.

[('INNODB', '2421496552016:1067:2421501858328', 1871, 59, 6, 'db2', 'acct_to', None, None, None, 2421501858328, 'TABLE', 'IX', 'GRANTED', None),
 ('INNODB', '2421496551240:1067:2421501857648', 1870, 58, 8, 'db2', 'acct_to', None, None, None, 2421501857648, 'TABLE', 'IX', 'GRANTED', None),
 ('INNODB', '2421496551240:1066:2421501857560', 1870, 58, 6, 'db1', 'acct_from', None, None, None, 2421501857560, 'TABLE', 'IX', 'GRANTED', None),
 ('INNODB', '2421496551240:4:4:1:2421485669400', 1870, 58, 6, 'db1', 'acct_from', None, None, 'GEN_CLUST_INDEX', 2421485669400, 'RECORD', 'X', 'GRANTED', 'supremum pseudo-record'),
 ('INNODB', '2421496551240:4:4:2:2421485669400', 1870, 58, 6, 'db1', 'acct_from', None, None, 'GEN_CLUST_INDEX', 2421485669400, 'RECORD', 'X', 'GRANTED', '0x000000000202'),
 ('INNODB', '2421496551240:5:4:1:2421485669744', 1870, 58, 8, 'db2', 'acct_to', None, None, 'GEN_CLUST_INDEX', 2421485669744, 'RECORD', 'X', 'GRANTED', 'supremum pseudo-record'),
 ('INNODB', '2421496551240:5:4:2:2421485669744', 1870, 58, 8, 'db2', 'acct_to', None, None, 'GEN_CLUST_INDEX', 2421485669744, 'RECORD', 'X', 'GRANTED', '0x000000000203')]

In [17]:
import pymysql
import time

db1 = pymysql.connect(
    host='localhost',
    user='root',
    password='yu85993101',
    database='db1',
    port=3306
)

db2 = pymysql.connect(
    host='localhost',
    user='root',
    password='yu85993101',
    database='db2',
    port=3306
)

cursor1 = db1.cursor()
cursor2 = db2.cursor()

try:
    # 从db1的acct_from表中读并锁定
    cursor1.execute("BEGIN;")
    cursor1.execute("SELECT * FROM acct_from WHERE id = 1 FOR UPDATE;")

    time.sleep(1)

    # 尝试锁定db2的 acct_to
    cursor1.execute("USE db2;")
    cursor1.execute("SELECT * FROM acct_to WHERE id = 1 FOR UPDATE;")
except Exception as e:
    print(f"Transaction 1 error: {e}")

try:
    # 从db1的acct_from表中读并锁定
    cursor2.execute("BEGIN;")
    cursor2.execute("SELECT * FROM acct_to WHERE id = 1 FOR UPDATE;")

    time.sleep(1)

    # 尝试锁定db1中的acct_from表
    cursor2.execute("USE db1;")
    cursor2.execute("SELECT * FROM acct_from WHERE id = 1 FOR UPDATE;")
except Exception as e:
    print(f"Transaction 2 error: {e}")

#查询锁信息
db3 = pymysql.connect(
    host='localhost',
    user='root',
    password='yu85993101',
    database='performance_schema',
    port=3306
)

cursor3 = db3.cursor()
cursor3.execute("SELECT * FROM data_locks;")
locks = cursor3.fetchall()
for lock in locks:
    print(lock)

cursor3.execute("SELECT * FROM data_lock_waits;")
lock_waits = cursor3.fetchall()
for lock_wait in lock_waits:
    print(lock_wait)


cursor1.close()
cursor2.close()
cursor3.close()
db1.close()
db2.close()
db3.close()

Transaction 2 error: (1205, 'Lock wait timeout exceeded; try restarting transaction')
('INNODB', '2421496551240:1067:2421501857560', 1873, 62, 6, 'db2', 'acct_to', None, None, None, 2421501857560, 'TABLE', 'IX', 'GRANTED', None)
('INNODB', '2421496552792:1067:2421501859184', 1872, 61, 8, 'db2', 'acct_to', None, None, None, 2421501859184, 'TABLE', 'IX', 'GRANTED', None)
('INNODB', '2421496552792:1066:2421501859096', 1872, 61, 6, 'db1', 'acct_from', None, None, None, 2421501859096, 'TABLE', 'IX', 'GRANTED', None)
('INNODB', '2421496552792:4:4:1:2421485675544', 1872, 61, 6, 'db1', 'acct_from', None, None, 'GEN_CLUST_INDEX', 2421485675544, 'RECORD', 'X', 'GRANTED', 'supremum pseudo-record')
('INNODB', '2421496552792:4:4:2:2421485675544', 1872, 61, 6, 'db1', 'acct_from', None, None, 'GEN_CLUST_INDEX', 2421485675544, 'RECORD', 'X', 'GRANTED', '0x000000000202')
('INNODB', '2421496552792:5:4:1:2421485675888', 1872, 61, 8, 'db2', 'acct_to', None, None, 'GEN_CLUST_INDEX', 2421485675888, 'RECORD', 'X', 'GRANTED', 'supremum pseudo-record')
('INNODB', '2421496552792:5:4:2:2421485675888', 1872, 61, 8, 'db2', 'acct_to', None, None, 'GEN_CLUST_INDEX', 2421485675888, 'RECORD', 'X', 'GRANTED', '0x000000000203')

输出说明事务2由于等待锁超时而失败。
两个事务互相等待对方持有的锁，导致死锁。事务2由于等待时间超过了锁等待超时阈值，失败并得到 
>Lock wait timeout exceeded